
head {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.topnav {
    background-color: white;
    overflow: hidden;
    height: 85px;
}

 .name {
    background-color: #4aaaa5;
    width:250px;
    height: 85px;
   margin-left: 10%;
   margin: 0;
   float: left;
   color: white;
   text-align: center;
   border-style: outset;
    border-bottom-width:1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 1px;
    border-width: 100%;
    border-color: #ccccccb7;
    }

.topnav a {
    float: left;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    height: 60px;
    border-style: outset;
    border-bottom-width:4px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 1px;
    border-color: #ccccccb7;
    padding-left: 21%;
        
    
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}



    body {
        background-color: #cccccc;
        
       
    }
    .main {
        background-color: #ffffff;
        height: 960px;
        position:relative;
        margin-top: 8%;
        margin-bottom: 15%;
        margin-left: 15%;
        margin-right: 15%;
        border-style: solid;
        border-width: 0.05px;
        border-color: black;
        

    }
    .maintitle {
        color: #4aaaa5;
        font-size: 44px;
        padding-top: 5%;
        padding-left: 5%;

    }
    .line {
       border-style: solid;
       border-bottom-width:0px;
       border-top-width: 2px;
       border-left-width: 0px;
       border-right-width: 0px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1%;
       border-color:lightgray; 
    }
    .image1 {
        width: 400px;
        height: 400px;
        padding-left:3%;
        margin-top: 1%;
        float: left;
        margin-right: 10px;
        clear:both;
        padding-right: 5%;
    }
    .portfolio1 {
        width: 400px;
        height: 200px;
        padding-left: 5%;
        padding-right: 10%;
        padding-bottom: 3%;
    }

    .portfolio2 {
        width: 400px;
        height: 200px;
        padding-left: 5%;
        padding-right: 10%;
        padding-bottom: 3%;
    }

    .portfolio3 {
        width: 400px;
        height: 200px;
        padding-left: 5%;
        padding-right: 10%;
        padding-bottom: 3%;
    }

    .portfolio4 {
        width: 400px;
        height: 200px;
        padding-left: 5%;
        padding-right: 10%;
        padding-bottom: 3%;
    }

    .portfolio5 {
        width: 400px;
        height: 200px;
        padding-left: 5%;
        padding-right: 10%;
        padding-bottom: 3%;
    }
    
   .p1 {
    margin: 40px;
    overflow:auto;
    display:block;
    color: #777777;
    font-size: 26px;
   }

   form {
    margin-left: 8% ;
  }
  
  form div + div {
    margin-top: 1em;
  }
  
  input, textarea {
    font: 1em sans-serif;
    width: 1000px;
   margin-right:40%;
   height: 2em;
  }
   
  textarea {
    height: 20em;
  }
  
  button {
    margin-left: 8em;
    margin-top: 1em;
   color: white;
   text-transform: uppercase;
    background-color: #4aaaa5;
    height:50px;
    width:200px;
  }

   .copyright {
    padding-top: 2%;
   }
   
   .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
    border-style: solid;
    border-bottom-width:0px;
    border-top-width: 9px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: #4aaaa5;
}