head {
    background-color: #ffffff;
    height: 80px;
    }
    body {
        background-color: #cccccc;
    }

 #name {
    background-color: #4aaaa5;
    width:250px;
    height: 50px;
   padding: 0;
   margin-left:10%;
   display: inline-block;
   float: left;
   color: white;
   text-align: center;
   padding-top: 1%;

    }
    
    #about {
       padding-right: 130px;
        float: right;
    }

    #portfolio {
       padding-right: 100px;
        float: right;
    }
    
    #contact {
        padding-right: 70px;
        float: right;  
    }

    a {
        background-color: white;
      color: white;
      padding: 1em 1.5em;
      text-decoration: none;
      text-transform: uppercase;
      color: #777777;
    }
    .bio {
        width: 300px;
        height: 300px;
        padding-top: 2%;
        padding-left: 14%;
    }
    .main {
        padding-top: 7%;
        height: 60%;
        width: 960px;
        background-color: white;
        

    }
    #main-title {
        padding-left: 20%;
    }
    